<br>
  <h2>顧客一覧</h2>
  <%= link_to "新規顧客", root_path %>
    <table border="6" width="50%" height="50%">
      <thead>
        <tr align="center">
          <th>id</th>
          <th>日付</th>
          <th>名前</th>
          <th>担当者</th>
        </tr>
        <tr align="center">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
      window.addEventListener("load", ()=>{
        let today = new Date();
        let week = ["日", "月", "火", "水", "木", "金", "土"];
        let year = today.getFullYear();
        let month = today.getMonth() + 1; // 1月~12月 -> 0~11
        let date = today.getDate();
        let day = today.getDay();
        document.getElementById("date").innerHTML = year + "/" + month + "/" + date + "(" + week[day] + ")";
      });
        //関数名timerを定義
      let timer = () => {
          //現在の日時を変数nowに入れる
        let now = new Date();
        //id=timerタグの中身を書き換える
        document.getElementById('RealtimeClockArea').innerHTML =
        now.getHours() + '時' + now.getMinutes() + '分' + now.getSeconds() + '秒';
      }

      //setInterval(やりたい処理, 何msec毎に行うか？)
      let timerID = setInterval(timer, 500);
    </script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>

<table class="table table-dark">
